# This the launcher properties file for the Activation Client Launcher
# All path separators in this file should be designated by front slashes '/'
jarfile=activationclient.jar
mainclass=com/mathworks/activationclient/ActivationApplication
pathlistjar=java/config/activation/pathlist.jar
icns_location=Activate.app/Contents/Resources/membrane.icns
