# This the launcher properties file for the Support Software Installer
# All path separators in this file should be designated by front slashes '/'
jarfile=supportsoftwareinstaller.jar
mainclass=com/mathworks/supportsoftwareinstaller/SupportSoftwareInstallerLauncher
pathlistjar=java/config/supportsoftwareinstaller/pathlist.jar
icns_location=Contents/Resources/membrane.icns
