# This the launcher properties file for the Instruction Set
# All path separators in this file should be designated by front slashes '/'
jarfile=instructionset.jar
mainclass=com/mathworks/instructionset/InstructionSet
pathlistjar=java/config/instructionset/pathlist.jar
icns_location=Contents/Resources/membrane.icns