# This the launcher properties file for the Activation Client Launcher
# All path separators in this file should be designated by front slashes '/'
jarfile=deactivation.jar
mainclass=com/mathworks/deactivation/Deactivate
pathlistjar=java/config/deactivation/pathlist.jar
icns_location=Deactivate.app/Contents/Resources/membrane.icns
