# This the launcher properties file for the Product Trials Installer
# All path separators in this file should be designated by front slashes '/'
jarfile=trialsinstaller.jar
mainclass=com/mathworks/trialsinstaller/TrialsLauncher
pathlistjar=java/config/trialsinstaller/pathlist.jar
icns_location=Contents/Resources/membrane.icns
copyToTemp=0
uninstallmainclass=com/mathworks/trialsinstaller/uninstall/UninstallerLauncher
useuninstallroot=0
